.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.social, .logo, .links {
    flex: 1;
}
.social {
    display: flex;
    gap: 10px;
}
.logo {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}
.links {
    display: flex;
    gap: 20px;
    font-size: 13px;
    justify-content: flex-end;
}